body {
  margin: 0 0 0 20%;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0 0 0 20%;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

main {
  position: absolute;
  width: 80%;
  height: 200vh;
  right: 0;
  z-index: 0;
  background-color: #4d4a4a;
}

.card {
  padding: 2%;
  margin: 0;
  -webkit-box-shadow: 0.5em 4.5em 0.5em 5em rgba(0, 0, 0, 0.4);
          box-shadow: 0.5em 4.5em 0.5em 5em rgba(0, 0, 0, 0.4);
  color: white;
}

.stock-photo {
  display: relative;
  width: auto;
  height: 35%;
  padding: 0;
  margin-top: 0;
  background-image: url("resources/photos/skyline-test-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  -webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.8);
          box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.8);
}

.quote {
  display: absolute;
  color: white;
  width: 100%;
  height: 17vh;
  top: 50%;
  text-align: center;
  padding-top: 2%;
  margin: 0;
  background-color: #4A9B39;
  font-style: italic;
  letter-spacing: .2em;
  font-size: 250%;
}

.quote p {
  top: 50%;
  vertical-align: middle;
}

#stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #8DD8F8;
}

#stats p {
  font-size: 150%;
}

.stat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#information {
  padding-top: 5%;
  padding-bottom: 4em;
  background-color: #00A5E4;
}

#information h3 {
  font-size: 300%;
  text-align: center;
  padding: 0;
}

#information p {
  font-size: 200%;
  text-align: center;
  padding: 5%;
  margin: 0;
}

#information:nth-child(1) {
  padding-bottom: 100%;
}

.info-title {
  padding-bottom: 2%;
}

#industries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #0069B6;
}

#industries ul {
  display: table;
}

#industries ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.industry {
  width: 33%;
  float: center;
}

body {
  margin: 0 0 0 20%;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 10;
  background-color: #1fc8db;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #9fb8ad), color-stop(51%, #001e32), color-stop(75%, #001e32));
  background-image: linear-gradient(180deg, #9fb8ad 15%, #001e32 51%, #001e32 75%);
  -webkit-box-shadow: -4em 1em 2em 5em rgba(0, 0, 0, 0.4);
          box-shadow: -4em 1em 2em 5em rgba(0, 0, 0, 0.4);
}

.nav-logo {
  position: absolute;
  padding: 10%;
}

.nav-logo img {
  margin: 0 auto;
  width: 100%;
}

#logo-technical:hover {
  cursor: pointer;
}

.nav-external-links {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-external-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1%;
  margin-left: 0;
  padding: 1% 0;
  width: 100%;
  list-style: none;
}

.nav-external-link {
  margin: 4%;
  width: 4vh;
  height: 4vh;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-external-link a {
  width: 100%;
}

.nav-external-link img {
  display: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.nav-external-link:hover {
  width: 7vh;
}

.nav-external-link:hover img {
  top: 0;
  -webkit-transform: translateY(-1.5vh);
          transform: translateY(-1.5vh);
}

.color-filter {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(44deg) brightness(103%) contrast(104%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(44deg) brightness(103%) contrast(104%);
}

.nav-internal-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  bottom: 0%;
  width: 100%;
  height: 40%;
  text-align: center;
}

.nav-internal-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.nav-internal-link {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  margin-top: 0.4em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* background-color: #005391; */
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.nav-internal-link p {
  font-size: 150%;
  text-decoration: none;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-internal-link:hover {
  width: 105%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  cursor: pointer;
  -webkit-transform: translateX(-2.5%);
          transform: translateX(-2.5%);
}

@media only screen and (max-width: 1000px) {
  main {
    top: 100%;
    width: 100%;
  }
  nav {
    position: absolute;
    height: 30%;
    width: 100%;
  }
  .nav-logo {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0em 2em 1em rgba(0, 0, 0, 0.4);
            box-shadow: 0 0em 2em 1em rgba(0, 0, 0, 0.4);
  }
  .nav-logo div {
    max-width: 30vh;
  }
  .nav-internal-links, .nav-external-links {
    top: 135%;
    width: 100%;
    height: 10%;
  }
}
/*# sourceMappingURL=style.css.map */