// Fonts

$font-family: 'Times New Roman', Times, serif;

// Sizing

// Document

html {
    height: 300vh;
}

body {
    display: block;
    width: 100%;
    height: 100%;
    font-family: $font-family;
    background-image: repeating-radial-gradient(white, purple, black);
    background-repeat: no-repeat;
}

@import "../modules/all";