// Fonts

$font-family: 'Times New Roman', Times, serif;

// Sizing

$seg-size: 14em;

// Positioning

$idx-main: 0;
$idx-nav: 10;


// Document

body {
    margin: 0 0 0 20%;
    padding: 0;

    font-family: $font-family;
}

@import "../modules/all";